.wordtable {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 12px;
  background: #fff;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;

  th
  {
    font-size: 14px;
    font-weight: normal;
    color: #039;
    padding: 10px 8px;
    border-bottom: 2px solid #6678b1;
  }
  td
  {
    color: #669;
    padding: 9px 8px 0px 8px;
  }
  tbody tr:hover td
  {
    color: #009;
  }
}
